*~
*.o
*.a
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
config.h
config.h.in
config.log
config.status
configure
stamp-h1
tests/watchfile
tests/regtest
config.aux
tests/watch-results
tests/conftest
tests/addrtest
src/banjammer
debian/files
debian/substvars.*
debian/banjammer
INSTALL
*.tar.gz
