Source: blockad
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Section: admin
Priority: extra
Standards-Version: 3.9.1.0
Vcs-Git: git://git.chiark.greenend.org.uk/~richardk/blockad.git

Package: blockad
Architecture: any
Section: admin
Priority: extra
Depends: iptables,${shlibs:Depends}
Description: Block persistent hacking attempts
 Monitors logfiles and uses the kernel's firewall to block
 persistent hacking attempts.
 .
 Uses regexp-based configuration to identify hacking attempts
 and permits blocks of addresses to be exempted.
 .
 Supports IPv4 and IPv6 addresses.
