#! /usr/bin/make -f
#
# Copyright © 2011 Richard Kettlewell
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# Options to configure.  This can be overridden by the caller if necessary.
CONFIGURE=--prefix=/usr --enable-silent-rules

# Set DEB_BUILD_OPTIONS=noopt to produce a non-optimized build.
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS=-O0 -g
else
CFLAGS=-O2 -g
endif
export CFLAGS

# Install commands.  You wouldn't normally override these.
INSTALL=install
INSTALL_DATA=$(INSTALL) -p -o root -g root -m 644
INSTALL_PROGRAM=$(INSTALL) -p -o root -g root -m 755
INSTALL_SCRIPT=$(INSTALL) -p -o root -g root -m 755
MKDIR=mkdir -p -m 755

# Set DEB_BUILD_OPTIONS=nostrip to install debuggable executables.
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

# Set DEB_BUILD_OPTIONS=parallel=N to do make -jN
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
PARALLEL = -j$(NUMJOBS)
endif

export INSTALL_DATA
export INSTALL_SCRIPT
export INSTALL_PROGRAM

build:
	@set -e;if test ! -f configure; then \
	  echo ./autogen.sh;\
	  ./autogen.sh;\
	fi
	./configure ${CONFIGURE} ${CONFIGURE_EXTRA}
	$(MAKE) ${PARALLEL}

binary: pkg-banjammer

pkg-banjammer: build
	rm -rf debian/banjammer
	$(MKDIR) debian/banjammer/DEBIAN
	$(MKDIR) debian/banjammer/usr/share/doc/banjammer
	$(MKDIR) debian/banjammer/etc/init.d
	$(INSTALL_DATA) debian/copyright \
		debian/banjammer/usr/share/doc/banjammer/copyright
	$(INSTALL_DATA) debian/changelog \
		debian/banjammer/usr/share/doc/banjammer/changelog
	gzip -9 debian/banjammer/usr/share/doc/banjammer/changelog*
	$(INSTALL_DATA) debian/conffiles.banjammer \
		debian/banjammer/DEBIAN/conffiles
	$(INSTALL_SCRIPT) debian/postinst.banjammer \
		debian/banjammer/DEBIAN/postinst
	$(INSTALL_SCRIPT) debian/prerm.banjammer \
		debian/banjammer/DEBIAN/prerm
	$(INSTALL_SCRIPT) debian/postrm.banjammer \
		debian/banjammer/DEBIAN/postrm
	$(MAKE) DESTDIR=`pwd`/debian/banjammer installdirs install
	strip --remove-section=.comment --remove-section=.note debian/banjammer/usr/*bin/*
	$(INSTALL_DATA) examples/banjammer.conf debian/banjammer/etc/banjammer.conf
	$(INSTALL_SCRIPT) examples/banjammer.init debian/banjammer/etc/init.d/banjammer
	$(INSTALL_DATA) README debian/banjammer/usr/share/doc/banjammer
	dpkg-shlibdeps -Tdebian/substvars.banjammer \
		debian/banjammer/usr/*bin/*
	gzip -9f debian/banjammer/usr/share/doc/banjammer/README \
		 debian/banjammer/usr/share/man/man*/*
	cd debian/banjammer && \
	    find -name DEBIAN -prune -o -type f -print \
		| sed 's/^\.\///' \
		| xargs md5sum > DEBIAN/md5sums
	dpkg-gencontrol -isp -pbanjammer -Pdebian/banjammer -Tdebian/substvars.banjammer
	chown -R root:root debian/banjammer
	chmod -R g-ws debian/banjammer
	dpkg --build debian/banjammer ..

clean:
	if test -f Makefile; then $(MAKE) distclean; fi
	rm -f config.cache
	rm -f debian/files
	rm -f debian/substvars.*
	rm -rf debian/banjammer
